extends base

block content 
  main.main
    .confirmation
      .confirmation__title
        h2.heading-secondary.heading-secondary--confirmation= heading   
      .confirmation__msg= msg
      .confirmation__msg= msg2
      p.confirmation__btn-level= buttonLevel 
        a(href=`/${url}`, class='confirmation__btn')= buttonText